.container {
  height: 100vh;
  max-width: 1060px;
  margin: 0 auto;
  padding: 2rem 2rem;

  display: flex;
  flex-direction: column;
}

.container div.switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.container div.switch a {
  font-size: 1rem;
  color: var(--timer);
  transition: color 0.2s;
}

.container div.switch a:hover {
  color: var(--gray-line);
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}
